body{
    margin: 0px;
    padding: 0px;
    align-items: center;
    text-align: center;
}
#navbar{
    display: flex;
    flex-direction: row;
    justify-content:space-around ;
    background-color: white;
}
#button{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid yellow;
    width: 100px;
    height: 30px;
    margin-top: 400px;
}
#button:hover{
    background-color: orange;

}
#button:active{
    background-color: aqua;

}
